{% extends "templates/cbamweb.html" %}

{% block page_content %}
{% include "templates/includes/web_sidebar.html" %}
<main class="main container my-4 ">
  <div class="page-content" style="margin: auto; height: 100%;">        
        <div class="list-row-container">
          <div class="content-container">
            <div class="container info-container">
              <div class="container responsive-md" style="width: 100%">
                <div class="privacy-head">
                    <h2 class="heading-secondary">Imprint</h2>
                    <p class="policy-text bold">Gallehr Sustainable Risk Management GmbH</p>
                    <p class="policy-text">Hauptstraße 43</p>
                    <p class="policy-text">D-61184 Karben</p>
                    <p class="policy-text">Phone: +49 6039 92 63 686</p>
                    <p class="policy-text">Fax: +49 6039 92 63 689</p>
                    <p class="policy-text">E-mail: <a href="mailto:kontakt@gallehr.de">kontakt@gallehr.de</a></p>
                    <p class="policy-text">Website: <a href="https://www.gallehr.de" target="_blank">www.gallehr.de</a></p>
                    <p class="policy-text">Managing Director: Dipl.-Ing. Sebastian Gallehr</p>
                    <p class="policy-text">Register Court: Frankfurt am Main</p>
                    <p class="policy-text">Registration Number: HRB 80660</p>
                    <p class="policy-text">UST-ID: DE255485677</p>
                    <p class="policy-text">Tax Number: 202 340 0391</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      
    
  </div>
</main>
    
{% endblock %}