{% extends "templates/cbamweb.html" %}

{% set preferred_lang = frappe.request.cookies.get("preferred_language") %}
{% set user_lang = frappe.db.get_value("User", frappe.session.user, "language") %}
{% set lang = user_lang or "en" %}

{% set template = "CBAM Home" %}

{% set record = frappe.get_all(
    "Dynamic Web Template",
    filters={"template": template, "is_active": 1, "language": lang},
    fields=["content"],
    limit=1,
    ignore_permissions=True
) %}

{% if not record %}
  {% set record = frappe.get_all(
      "Dynamic Web Template",
      filters={"template": template, "is_active": 1, "language": "en"},
      fields=["content"],
      limit=1,
      ignore_permissions=True
  ) %}
{% endif %}

{% set content = record[0].content if record else "" %}


{% block page_content %}
{% include "templates/includes/web_sidebar.html" %}
<main class="main container my-4 ">
  <div class="page-content" style="margin: auto; height: 100%;">
    <!-- {% if 1==1 %}
      {% if 1==1 %} -->
        <div class="list-container" >
          <div class="list-header">
            <div class="sub-header">
              <h1 class="heading-primary">
                {{_(title)}}
              </h1>
          </div>
        </div>
        
        <div class="list-row-container">
          <div class="content-container">
            <div class="text-content">
               {{ content }}
            </div>
          </div>
          <!-- <div class="video-container">
            <iframe class="video-frame"
                src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
          </div> -->
        </div>
      {% endif %}
    <!-- {% else %}
      <div class="page-card">
        <h5 class="page-card-head">
          <span class="indicator red">Not Permitted</span>
        </h5>
        <div class="page-card-body">
          <p>You do not have access to this page.</p>
          <div>
            <a href="/login" class="btn btn-primary btn-sm btn-block">Login</a>
          </div>
        </div>
      </div>
    {% endif %} -->
  </div>
</main>
    
{% endblock %}