{% extends "templates/web.html" %}

{% block page_content %}
{% include "templates/includes/web_sidebar.html" %}
<main class="main container my-4 ">
  <div class="page-content" style="margin: auto; height: 100%;">
    <!-- {% if 1==1 %}
      {% if 1==1 %} -->
        <div class="list-container" >
          <div class="list-header">
            <div class="sub-header">
              <h1 class="heading-primary">
                {{_(title)}}
              </h1>
              <div class="selected-cta-container">
                <span class="status-filter-container">
                  <select type="text" class="form-control  status-filter" data-fieldtype="Select" data-fieldname="status" placeholder="">
                    <option value="">{{_('All')}}</option>
                    <option value="Raw Data">{{_('Raw Data')}}</option>
                    <option value="Sent for confirmation">{{_('Sent for confirmation')}}</option>
                    <option value="Confirmed">{{_('Confirmed')}}</option>
                  </select>
                </span>

                <div class="selected-container">
                  <span>{{_('Selected')}}: <span class="selected-no">0</span></span>
                </div>

                <button class="btn btn-primary btn-sm primary-action">
                  <span> 
                    <span><a href = "#" class="ex-pay-link add-new">{{_('Add New Installation')}}</a></span>
                  </span>
                </button>
              </div>
          </div>
        </div>
        
        <div class="list-row-container">
          <div class="level list-row-head container-head">
            <div class="level-left list-head-grid">
              <div class="list-row-col  list-subject level">
                <span class="level-item select-like">
                    <input
                    class="total-checkbox"
                    class="list-row-checkbox"
                    type="checkbox"
                    data-doctype="DocType"
                    data-name="Sales Invoice"
                    />
                  </span>
                <span class="level-item bold ellipsis">
                  <span class="invoice-title ellipsis" title="Sales Invoice">ID</span>
                </span>
              </div>
              
              <div class="list-row-col list-subject level tc-container">
                <span class="tc-text">{{_('Installation Name')}}</span>
              </div>
              
              <div class="list-row-col list-subject level gt-container ">
                <span class="gt-text">{{_('Country')}}</span>
              </div>
              <div class="list-row-col list-subject level status-title city-title">
                <span class="gt-text">{{_('City')}}</span>
              </div>

              <div class="list-row-col list-subject level status-title">
                <span class="gt-text">{{_('ZIP Code')}}</span>
              </div>
             
              <!-- <div class="list-row-col list-subject level prt-container">
                <span class="prt-text">Actions</span>
              </div> -->
              
            </div>
            <div class="level-right hidden-el"><span class="space-hidden">0</span></span>
            </div>
          </div>
          
       
        </div>
      
      {% endif %}
    <!-- {% else %}
      <div class="page-card">
        <h5 class="page-card-head">
          <span class="indicator red">Not Permitted</span>
        </h5>
        <div class="page-card-body">
          <p>You do not have access to this page.</p>
          <div>
            <a href="/login" class="btn btn-primary btn-sm btn-block">Login</a>
          </div>
        </div>
      </div>
    {% endif %} -->
  </div>
</main>
    
{% endblock %}