{% extends "templates/cbamweb.html" %}

{% block page_content %}
{% include "templates/includes/web_sidebar.html" %}
<main class="main container my-4 ">
  <div class="page-content" style="margin: auto; height: 100%;">
    
    

    <!-- {% if 1==1 %}
      {% if 1==1 %} -->
        

        <div class="list-container" >
          <div class="list-header">
            <div class="sub-header">
              <h1 class="heading-primary">
                {{title}}
              </h1>
              <div class="selected-cta-container">
                <span class="status-filter-container">
                  <select type="text" class="form-control  status-filter" data-fieldtype="Select" data-fieldname="status" placeholder="">
                    <option value="">{{_('All')}}</option>
                    <option value="Raw Data">{{_('Raw Data')}}</option>
                    <option value="Sent for confirmation">{{_('Sent for confirmation')}}</option>
                    <option value="Confirmed">{{_('Confirmed')}}</option>
                  </select>
                </span>

                <div class="selected-container">
                  <span>{{_('Selected')}}: <span class="selected-no">0</span></span>
                </div>

                <button class="btn btn-primary btn-sm primary-action">
                  <span> 
                    <span><a href = "#" class="ex-pay-link add-new">{{_('Add New Emission Data')}}</a></span>
                  </span>
                </button>
              </div>
          </div>
        </div>
        
        <div class="list-row-container">
          <div class="level list-row-head container-head">
            <div class="level-left list-head-grid">
              <div class="list-row-col  list-subject level">
                <span class="level-item select-like">
                    <input
                    class="total-checkbox"
                    class="list-row-checkbox"
                    type="checkbox"
                    data-doctype="DocType"
                    data-name="Sales Invoice"
                    />
                  </span>
                <span class="level-item bold ellipsis">
                  <span class="invoice-title ellipsis" title="Sales Invoice">{{_('Emission No')}}</span>
                </span>
              </div>
              
              <div class="list-row-col list-subject level tc-container">
                <span class="tc-text">{{_('Installation')}}</span>
              </div>
              <div class="list-row-col list-subject level gt-container ">
                <span class="gt-text">{{_('Type of applicable reporting methodology')}}</span>
              </div>
              <div class="list-row-col list-subject level gt-container ">
                <span class="gt-text">{{_('Specific (direct) embedded emissions [tCO2/t]')}}</span>
              </div>
              <div class="list-row-col list-subject level status-title">
                <span class="gt-text">{{_('Source of electricity')}}</span>
              </div>
              <div class="list-row-col list-subject level gt-container ">
                <span class="gt-text">{{_('Electricity consumed [MWh/t]')}}</span>
              </div>
              <!-- <div class="list-row-col list-subject level prt-container">
                <span class="prt-text">Actions</span>
              </div> -->
              
            </div>
            <div class="level-right "><span class="space-hidden">0</span></span>
            </div>
          </div>
          <!-- {% set supplier_list = frappe.get_list("CBAM Supplier") %} -->
          {% for doc in emission_datas %}
          <!-- {% set doc = frappe.get_doc("CBAM Supplier", i) %} -->
          <div class="content-container">
            <div class="level list-row-head content-head">
              <div class="level-left list-body-grid">
                <div class="list-row-col  list-subject level">
                    <span class="level-item select-like">
                        <input
                        class="list-row-checkbox checkbox"
                        type="checkbox"
                        data-doctype="DocType"
                        data-name="Sales Invoice"
                        data-status=""
                        
                        />
                      </span>
                    <span class="level-item bold ">
                    <span class=" inv-name" data-doctype="DocType" data-name="{{doc.name}}" title="Sales Invoice" >{{doc.name}}</span>
                  </span>
                </div>
                <div class="list-row-col list-subject level tc-container gd">
                    <span><span class="inv-tax">{{doc.cbam_installation}}</span></span>
                  </div>
                
                <div class="list-row-col list-subject level tc-container rm">
                  <span><span class="inv-tax">{{doc.type_of_applicable_reporting_methodology}}</span></span>
                </div>
                
                
                <div class="list-row-col list-subject level gt-container">
                  
                  <span><span class="inv-amount" data-gt=grand_total>{{doc.specific_direct_embedded_emissions}}</span></span>
                </div>
                <div class="list-row-col list-subject level ">
                    <span
                      class="indicator-pill green filterable no-indicator-dot "
                      title="Sales Invoices">
                      <span data-status="{{doc.status}}" class="status">{{doc.source_of_electricity}}</span>
                    </span>
                  </div>
                <div class="list-row-col list-subject level gt-container parts-cont">
                  <span>{{doc.electricity_consumed}}</span>
                </div>
                <!-- <div class="popup-options list-row-col list-subject level prt-container">
                  <button class="action-btn text-muted btn btn-default icon-btn">
                    <svg class="action-btn icon icon-sm">
                      <use class="action-btn" href="#icon-dot-vertical"></use>
                    </svg> -->
                    <!-- <svg class="icon print-btn icon-sm" aria-hidden="true">
                      <use class="print-btn" href="#icon-printer"></use>
                    </svg> -->
                  <!-- </button>
                  <div class="options-abs hidden">
                    <button class="abs-option-btn" data-action="Split">Split</button>
                    <button class="abs-option-btn" data-action="Forward">Forward</button>
                    <button class="abs-option-btn" data-action="Reject">Reject</button>
                    <button class="abs-option-btn" data-action="Add Installation">Add Installation</button>
                    <button class="abs-option-btn" data-action="Add Emission Data">Add Emission Data</button>
                  </div>
                </div>-->
              </div>
              <div class="level-right popup-options">
                <button class="action-btn text-muted btn btn-default icon-btn">
                  {{_('Edit')}}
                  <!-- <svg class="action-btn icon icon-sm">
                    <use class="action-btn" href="#icon-dot-vertical"></use>
                  </svg> -->
                  <!-- <svg class="icon print-btn icon-sm" aria-hidden="true">
                    <use class="print-btn" href="#icon-printer"></use>
                  </svg> -->
                </button>
                <!-- <div class="options-abs hidden">
                  <button class="abs-option-btn" data-action="Edit">Edit</button>
                </div> -->
                <span class="ml-2 collapse-indicator mb-1 arr-icon">
                  <svg class="es-icon es-line icon-sm arr-icon" aria-hidden="true">
                    <use class="mb-1 arr-icon arrow" href= "#es-line-down"></use>
                  </svg>
                </span>
              </div>
            </div>
            <div class="container info-container hidden">
              <h2>{{_('Data Sample 1')}}</h2>
              <div class="table-responsive" style="width: 100%;">
                <table class="table" style="width: 100%;">
                  
                    <tr>
                      <td width="25%"><strong>{{_('Internal Customs Import Number')}}</strong></td>
                      <td>{{doc.internal_customs_import_number or ""}}</td>
                      <td width="25%"><strong>{{_('Country of origin')}}</strong></td>
                      <td>{{doc.country_of_origin or ""}}</td>
                      <td width="25%"><strong>{{_('Customs value in Euro')}}</strong></td>
                      <td>{{doc.customs_value or ""}}</td>
                    </tr>
                  
                  
                    
                    <tr>
                      <td><strong>{{_('Invoice number')}}</strong></td>
                      <td>{{doc.invoice_number or ""}}</td>
                      <td><strong>{{_('Hand over date')}}</strong></td>
                      <td>{{doc.hand_over_date or ""}}</td>
                      <td><strong>{{_('CN Code')}}</strong></td>
                      <td>{{doc.cn_code or ""}}</td>
                    </tr>
                   
                  
                </table>
              </div>
              
              <h2>{{_('Data Sample 2')}}</h2>
              <div class="container responsive-md" style="width: 100%">
                
                <div class="tc-field-cont field-cont">
                  <span class="field-label">{{_('Internal Customs Import Number')}}</span>
                  <div class="field tc-field">{{doc.internal_customs_import_number or ""}}</div>
                </div>
                
                <div class="tc-field-cont field-cont">
                  <span class="field-label">{{_('Country of origin')}}</span>
                  <div class="field tc-field">{{doc.country_of_origin or ""}}</div>
                </div>

                <div class="tc-field-cont field-cont">
                  <span class="field-label">{{_('Customs value in Euro')}}</span>
                  <div class="field tc-field">{{doc.customs_value or ""}}</div>
                </div>

                <div class="tc-field-cont field-cont">
                  <span class="field-label">{{_('Invoice number')}}</span>
                  <div class="field tc-field">{{doc.invoice_number or ""}}</div>
                </div>

                <div class="tc-field-cont field-cont">
                  <span class="field-label">{{_('Hand over date')}}</span>
                  <div class="field tc-field">{{doc.hand_over_date or ""}}</div>
                </div>

                <div class="tc-field-cont field-cont">
                  <span class="field-label">{{_('CN Code')}}</span>
                  <div class="field tc-field">{{doc.cn_code or ""}}</div>
                </div>
                <div class="prt-field-cont field-cont field-res" style="align-self: flex-end;">
                  <div class="tc-field prt-field print-btn">
                    <button class="btn btn-primary print-btn btn-sm primary-action">
                      <span class="print-btn prt-icon-cont">
                        <svg class="icon print-btn icon-sm" aria-hidden="true" style="width: 12px; height: 12px;">
                          <use class="print-btn" href="#icon-printer"></use>
                        </svg>
                        <span class="print-btn">{{_('Print')}}</span>
                      </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      {% endif %}
    <!-- {% else %}
      <div class="page-card">
        <h5 class="page-card-head">
          <span class="indicator red">Not Permitted</span>
        </h5>
        <div class="page-card-body">
          <p>You do not have access to this page.</p>
          <div>
            <a href="/login" class="btn btn-primary btn-sm btn-block">Login</a>
          </div>
        </div>
      </div>
    {% endif %} -->
  </div>
</main>
    
{% endblock %}