{% extends "templates/cbamweb.html" %}

{% set preferred_lang = frappe.request.cookies.get("preferred_language") %}
{% set user_lang = frappe.db.get_value("User", frappe.session.user, "language") %}
{% set lang = user_lang or "en" %}

{% set template = "Privacy Policy" %}

{% set record = frappe.get_all(
    "Dynamic Web Template",
    filters={"template": template, "is_active": 1, "language": lang},
    fields=["content"],
    limit=1
) %}

{% if not record %}
  {% set record = frappe.get_all(
      "Dynamic Web Template",
      filters={"template": template, "is_active": 1, "language": "en"},
      fields=["content"],
      limit=1
  ) %}
{% endif %}

{% set content = record[0].content if record else "" %}


{% block page_content %}
{% include "templates/includes/web_sidebar.html" %}
<main class="main container my-4 ">
  <div class="page-content" style="margin: auto; height: 100%;">        
        <div class="list-row-container">
          <div class="content-container">
            <div class="container info-container">
              <div class="container responsive-md" style="width: 100%">
                <div class="policies-container">
                    {{ content }}  
                </div>
              </div>
            </div>
          </div>
        </div>
      
    
  </div>
</main>
    
{% endblock %}