{% extends "templates/web.html" %}

{% block page_content %}
{% include "templates/includes/web_sidebar.html" %}
<main class="main container my-4 ">
  <div class="page-content" style="margin: auto; height: 100%;">
    
        <div class="list-container" >
          <div class="list-header">
            <div class="sub-header">
              <h1 class="heading-primary">
                {{title}}
              </h1>
              <div class="selected-cta-container">
                <span class="status-filter-container">
                  <select type="text" class="form-control  status-filter" data-fieldtype="Select" data-fieldname="status" placeholder="">
                    <option value="">All</option>
                    <option value="Raw Data">Pending Verification</option>
                    <option value="Sent for confirmation">Company Verified</option>
                    
                  </select>
                </span>

                <div class="selected-container">
                  <span>Selected: <span class="selected-no">0</span></span>
                </div>

                <button class="btn btn-primary btn-sm primary-action ex-pay-link add-new">
                  Add New Supplier
                </button>
              </div>
          </div>
        </div>
        
        <div class="list-row-container">
          <div class="level list-row-head container-head">
            <div class="level-left list-head-grid">
              <div class="list-row-col  list-subject level">
                <span class="level-item select-like">
                    <input
                    class="total-checkbox"
                    class="list-row-checkbox"
                    type="checkbox"
                    data-doctype="DocType"
                    data-name="Sales Invoice"
                    />
                  </span>
                <span class="level-item bold ellipsis">
                  <span class="invoice-title ellipsis" title="Sales Invoice">Supplier Number</span>
                </span>
              </div>
              
              <div class="list-row-col list-subject level tc-container">
                <span class="tc-text">Supplier Name</span>
              </div>
              <div class="list-row-col list-subject level gt-container ">
                <span class="gt-text">Phone No.</span>
              </div>
              <div class="list-row-col list-subject level gt-container ">
                <span class="gt-text">Country</span>
              </div>
              <div class="list-row-col list-subject level status-title">
                <span class="gt-text">Status</span>
              </div>
              <div class="list-row-col list-subject level gt-container ">
                <span class="gt-text">Zip code</span>
              </div>              
            </div>
            <div class="level-right "><span class="space-hidden">0</span></span>
            </div>
          </div>
        </div>
  </div>
</main>
    
{% endblock %}